@page
@model ECormerceWeb.Pages.Staff.Adses.CreateModel
@{
}
<form class="border p-3 mt-4" method="post" enctype="multipart/form-data">
    <div class="row pb-2">
        <h2 class="text-primary p-lg-3">Create Ads</h2>
        <hr />
    </div>  
    <div class="mb-3">
        <label asp-for="Ads.Title"></label>
        <input asp-for="Ads.Title" class="form-control" />
        <span asp-validation-for="Ads.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ads.Content"></label>
        <input asp-for="Ads.Content" class="form-control" />
        <span asp-validation-for="Ads.Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ads.StartDate"></label>
        <input type="date" asp-for="Ads.StartDate" class="form-control" />
        <span asp-validation-for="Ads.StartDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ads.EndDate"></label>
        <input type="date" asp-for="Ads.EndDate" class="form-control" />
        <span asp-validation-for="Ads.EndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to List</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}