@page
@model ECormerceWeb.Pages.Staff.AdminChatModel
@{
}
@{
    ViewData["Title"] = "Admin Chat";
}
<h2>Admin Chat</h2>

<div id="chatBox">
    <ul id="messagesList"></ul>
</div>

<input type="text" id="messageInput" placeholder="Type your message here..." />
<button id="sendMessageBtn">Send</button>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
        var adminId;
        var customerId;
        connection.start().then(function () {
            console.log("Admin connected");
        });

        connection.on("NewCustomerAssigned", function (Admin, customer) {
            console.log("Assigned to customer: " + customer);
            adminId = Admin;
            customerId = customer;
        });

        connection.on("ReceiveMessageFromCustomer", function (customerId, message) {
            var li = document.createElement("li");
            li.textContent = "Customer " + customerId + ": " + message;
            document.getElementById("messagesList").appendChild(li);
        });


        document.getElementById("sendMessageBtn").addEventListener("click", function (event) {
            var message = document.getElementById("messageInput").value;

            var li = document.createElement("li");
            li.textContent = "Admin: " + message;
            document.getElementById("messagesList").appendChild(li);

            connection.invoke("SendMessageToCustomer", customerId, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });
    </script>
}