@page
@model PizzaManagement.Pages.Staff.Account.ChangePasswordModel
<h2>Reset User Password</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="id">User ID</label>
        <input asp-for="id" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>