@page
@model PizzaManagement.Pages.Staff.Account.EditModel

<form class="border p-3 mt-4" method="post">
    <input type="hidden" asp-for="id" />
    <div class="row pb-2">
        <h2 class="text-primary p-lg-3">Update Account</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.PhoneNumber"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>

    <div class=" form-floating my-2">
        @if(Model.Input.Type == 1) {
            <div>
                <input type="radio" name="rdUserRole" value="1" checked />Staff
                <input type="radio" name="rdUserRole" value="2" />Normal User
            </div>
        }
        else
        {
            <div>
                <input type="radio" name="rdUserRole" value="1"  />Staff
                <input type="radio" name="rdUserRole" value="2" checked />Normal User
            </div>
        }
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
        <a asp-page="ChangePassword" asp-route-id="@Model.id" class="btn btn-primary ms-auto" style="width:150px">Change Password</a>
    </div>
</form>
<div class="w-75 btn-group" role="group">
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}