@page
@model PizzaManagement.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-success">Thank You for Your Order!</h1>
            <p class="lead">Your order has been successfully placed. We appreciate your business!</p>
            
            <hr />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <a asp-page="/Index" class="btn btn-primary btn-lg">Continue Shopping</a>
        </div>
    </div>
</div>